<section class="container">
  <h1>Comments</h1>

  <app-container-wrapper [callState]="(itemsCallState$ | async)!">
    <div class="table-filters">
      <app-filter-input (updateFiler)="onFilterChanges($event)"></app-filter-input>
    </div>

    <app-table (moveColumns)="onMoveColumns($event)"
               (sort)="onSort($event)"
               [headers]="headers"
               [items]="(items$ | async)!"
               [searchValue]="(searchValue$ | async)!"
               [trackByItemFn]="trackByItemId">
    </app-table>
  </app-container-wrapper>
</section>

